body{
    background-color: red;
}
#pic{
    width: 20%;
    border: 2px solid black;
    border-radius: 70%;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace
}
#ss{
    width: 30%;
}
img{
    width: 35%;
    border: 2px solid black;
    border-radius: 20%;
}
h3{
    border: 5px solid black;
    width: 50%;
}

